.page {
    /* background-color: blueviolet; */
    background-image: url("../images/fall_trees.jpg");
    background-size: contain;
    /* background-repeat: no-repeat; */
    height: 400px;
    color: white;
}